* {
    margin: 0;  
    color: white;
}

h1 {
    font-size: 100px;
    margin: 10px 0px;
}

.head {
    padding-top: 10px;
    height: fit-content;
    text-align: center;
    background-image: url(img.jpg);
}

#cat_img {
    padding-top: 25px;
}